<theme>
    <formatVersion>4</formatVersion>


	<include subset="iconset" name="PSX">./_theme_inc/iconsets/psx.xml</include>


	<include subset="systemview" name="01-Black">./_theme_systemview/1-black.xml</include>
	<include subset="systemview" name="02-Blue">./_theme_systemview/2-blue.xml</include>


	<include subset="gamelistview" name="Default">./_theme_gamelistview/detailed.xml</include>
 

	
</theme>
